* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    font-family: 'Raleway';
    /* font-size: medium; */
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: larger;
    /* margin: 0; */
}

h2 {
    font-size: larger;
    margin: 0;
}

h3 {
    font-size: medium;
    /* margin: 0; */
}


button {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    border: none;
    padding: 20px;
}


/* MOBILE -------------------------------------------------- */

/* Cards (mobile) */
.cards-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 4px 69px 12px #e2e2e2;
}

.card-padding {
    padding: 5px;
}

.card img {
    object-fit: cover;
}

.card .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card .card-info h3 {
    margin: 0;
}

.card .card-info p {
    margin: 10px 0;
    font-size: 14px;
}

.card .rating i {
    font-size: small;
    color: #F2F2F2;
}

.card .rating i.full {
    color: #0065FC;
}


/* Cards - Horizontal (mobile) */
.card-horz {
    flex-direction: row;
}

.card-horz img {
    width: 128px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card-horz .card-info {
    padding: 15px 15px 10px 20px;
}


/* Cards - Vertical (mobile) */
.card-vert {
    flex-direction: column;
}

.card-vert img {
    height: 114px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-vert .card-info {
    padding: 12px;
}


/* Header (mobile) */
.header-top {
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top img {
    height: fit-content;
}

.header-links {
    display: flex;
    height: 100%;
}

.header-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav.nav-desktop {
    display: none;
}

nav.nav-desktop a {
    border-top: 2px solid transparent;
}

nav.nav-desktop a:hover {
    border-top-color: #0065FC;
    color: #0065FC;
}

nav.nav-mobile {
    display: flex;
    align-items: center;
    height: 50px;
}

nav.nav-mobile a {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #F2F2F2;
}

nav.nav-mobile a:hover {
    color: #0065FC;
    border-bottom-color: #0065FC;
}

#signup {
    color: #0065FC;
    font-weight: bold;
}


/* Main(mobile) */
main {
    max-width: 1440px;
    margin: 0 auto;
}


/* Main - Top (mobile) */
main .top-container {
    padding: 20px 20px 0;
    margin-bottom: 40px;
}

.location-bar {
    position: relative;
    height: 50px;
    display: flex;
}

.location-bar i#marker {
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
    font-size: larger;
}

.location-bar input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.location-bar .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #0065FC;
    color: white;
}

.search-btn-desktop {
    display: none !important;
}
.search-btn-mobile {
    width: 50px;
}

.filters-box {
    margin: 20px 0 0;
}

.filters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.filter {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 20px 20px 20px 65px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    background-color: white;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

.filter:hover {
    color: #0065FC;
}

.filter i {
    position: absolute;
    top: -2px;
    left: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC;
}

.info {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}

.info i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    color: #0065FC;
}

.info p {
    margin: 5px 10px;
}


/* Main - Middle (mobile) */
.middle-container {
    display: flex;
    flex-direction: column;
}

.middle-container .popular {
    padding: 50px 20px;
    background-color: #F2F2F2;
}

.middle-container .popular .popular-title-container {
    display: flex;
    justify-content: space-between;
}

.middle-container .housing {
    padding: 50px 20px 10px;
}

.middle-container h2 {
    margin-bottom: 30px;
}

.popular .card {
    height: 160px;
}

.housing .cards-list {
    gap: 12px;
}

.housing .card {
    width: 100%;
}

#display-more-housing {
    display: block;
    margin-top: 35px;
    font-weight: bold;
}


/* Main - Bottom (mobile) */
.bottom-container {
    padding: 50px 20px;
}

.bottom-container h2 {
    margin-bottom: 30px;
}

.bottom-container .cards-list {
    gap: 24px;
}

.bottom-container .cards-list .inner-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.bottom-container .card-vert img {
    flex: 1 auto;
}

.bottom-container .card-vert .card-info {
    flex: 0;
    padding: 24px 20px 20px;
}


/* Footer (mobile) */
footer {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    background-color: #F2F2F2;
    gap: 50px;
}

footer .link-group {
    flex: 1;
}

footer .link-group h3 {
    margin: 0;
}

footer .link-group a {
    display: block;
    margin-top: 20px;
}


/* MOBILE (375+ -------------------------------------------- */
@media (min-width: 375px) {

    .card-horz .card-info {
        padding-right: 40px;
    }

    .popular .card {
        height: 144px;
    }

}


/* TABLET -------------------------------------------------- */
@media (min-width: 768px) {

    /* Main - Middle (tablet) */
    .popular .cards-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 49%);
    }
    
    .housing .cards-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 49%);
    }
    

    /* Main - Bottom (tablet) */
    .bottom-container .cards-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 48%);
    }
    

    /* Footer (tablet) */
    footer {
        padding: 50px;
        flex-direction: row;
    }
}


/* SMALL SCREENS, LAPTOPS ---------------------------------- */
@media (min-width: 1024px) {

    /* Main - Bottom (laptop) */
    .bottom-container .cards-list {
        display: flex;
        flex-direction: row;
        height: 450px;
    }

    .bottom-container .cards-list > div {
        flex: 1;
    }
    
    .bottom-container .cards-list .inner-group > div {
        flex: 1;
    }
    
    .bottom-container .cards-list > div:nth-child(2) .card:first-child {
        flex: 2;
    }

    .bottom-container .cards-list > div:nth-child(2) .card:nth-child(2) {
        flex: 0 auto;
    }
    
    .bottom-container .cards-list > div:nth-child(4) .card {
        flex: 1;
    }
}


/* DESKTOP ------------------------------------------------- */
@media (min-width: 1200px) {

    /* Cards (desktop) */
    .cards-list {
        gap: 30px;
    }


    /* Header (desktop) */
    .header-top {
        height: 110px;
        padding: 0 50px;
    }

    nav.nav-desktop {
        display: flex;
        align-items: center;
    }
    
    nav.nav-mobile {
        display: none;
    }

    .header-links a {
        padding: 0 25px;
    }


    /* Main (desktop) */
    main {
        padding: 0 50px 50px;
    }


    /* Main - Top (desktop) */
    main .top-container {
        padding: 0;
    }

    .location-bar {
        width: 420px;
    }

    .location-bar .search-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .search-btn-desktop {
        display: flex !important;
    }
    
    .search-btn-mobile {
        display: none !important;
    }

    .filters-box {
        display: flex;
    }
    .filters-box h3 {
        margin-right: 35px;
    }
   
    .info {
        margin-top: 35px;
    }


    /* Main - Middle (desktop) */
    .middle-container {
        flex-direction: row-reverse;
        gap: 40px;
    }
    
    .middle-container .popular {
        width: 420px;
        min-width: 420px;
        padding: 45px 40px 35px;
        border-radius: 20px;
    }
    
    .middle-container .housing {
        width: 100%;
        padding: 45px 40px 35px;
        border-radius: 20px;
        background-color: #F2F2F2;
    }
    
    .popular .cards-list {
        display: flex;
    }

    .housing .cards-list {
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 49%);
    }
    
    #display-more-housing {
        margin-top: 45px;
    }

    
    /* Main - Bottom (desktop) */
    .bottom-container {
        padding-bottom: 0;
    }
}


/* LARGE --------------------------------------------------- */
@media (min-width: 1200px) {

    .housing .cards-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 30%);
    }
}